archived
diffusers
textual_inversion/textual_inversion_cat/*
wandb/*
.vscode/*
.DS_Store
*.bin
*.jpeg
*.pkl
events*
hparams.yml
*.png
*.ppm
*.zip
*.pt
*.pyc
vision_benchmark/outputs/*
vision_benchmark/wandb/*
__pycache__/
*.py[cod]
*$py.class
xformers/*
diffusers/*
dreambooth/model_dir/*
amlt/*
stable-diffusion/*
data/*