vision-evaluation
yacs
scikit-learn
timm
numpy
sharedmem
git+https://github.com/openai/CLIP.git
git+https://github.com/haotian-liu/CLIP_vlp.git
PyYAML
Pillow
tqdm
git+https://github.com/huggingface/transformers
git+https://github.com/huggingface/diffusers.git
protobuf~=3.20.1
ftfy~=6.1.1
nltk~=3.7
seaborn
tenacity